.about-me-section {
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  text-align: center; 
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.about-me {
  font-size: 1.1rem;
  text-align: center; 
}

.about-me {
  color: black;
}
