.contact-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 4rem;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-h1 {
  font-family: "Jersey 15", sans-serif;
  font-size: 50px;
  margin-bottom: 30px;
  color: #494949;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
  background-color: #ffffff;
  color: black;
}

textarea.form-input {
  resize: vertical;
}

.submit-button {
  background-color: #6b6b6b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.6; 
  transition: opacity 0.4s ease;
}

.error-message {
  color: red;
  font-size: 20px;
  margin-top: 10px; 
}