.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #380036; 
  color: #fff; 
}

.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-size: 40px;
  margin: 0;
}

.logo {
  width: 50px; 
  height: auto;
  margin-right: 10px;
}

