.navbar {
  font-family: "Jersey 15", sans-serif;
  border-radius: 20px;
  background-color: #1a1919;
  font-size: larger;
  color: #fff;
  padding: 1rem;
}

.nav-item  {
  font-size: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #ffd700;
}